include LICENSE.txt
recursive-include heatrapy/database *
recursive-include heatrapy/fields *
recursive-include heatrapy/mats *
recursive-include heatrapy/objects *
recursive-include heatrapy/solvers *
recursive-include heatrapy/systems *