<!-- <div class="page__footer-copyright"> -->
<!--   <ul class="social-icons"> -->
<!--     {% if site.data.ui-text[site.locale].follow_label %} -->
<!--       <li><strong>contact:</strong> djsilva@gmx.com</li> -->
<!--     {% endif %} -->

<!--     <\!-- {% if site.footer.links %} -\-> -->
<!--     <\!--   {% for link in site.footer.links %} -\-> -->
<!--     <\!--     {% if link.label and link.url %} -\-> -->
<!--     <\!--       <li><a href="{{ link.url }}" rel="nofollow noopener noreferrer"><i class="{{ link.icon | default: 'fas fa-link' }}" aria-hidden="true"></i> {{ link.label }}</a></li> -\-> -->
<!--     <\!--     {% endif %} -\-> -->
<!--     <\!--   {% endfor %} -\-> -->
<!--     <\!-- {% endif %} -\-> -->
<!-- <br> -->
<!--     <li><a href="https://github.com/djsilva99/heatrapy"><i class="fab fa-fw fa-github" aria-hidden="true"></i> </a></li> -->
<!--   </ul> -->
<!-- </div> -->

<!-- <div class="page__footer-copyright"><strong>contact:</strong> djsilva@gmx.com</div> -->

<!-- <br> -->

<div class="page__footer-copyright">&copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }}. </div>
